#body{
   background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
#container{
    position: relative;
    top: 50vh;
    justify-self: center;
    border: 3px solid white;
    padding: 10px;
}
span{
    font-size: larger;
    color: white;
}