body{
    margin: 0px;
    background-image: url('./assets/4k-universe-earth-in-space-213v11obk62gr49v.jpg');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.detatils>ul{
    display: flex;
    justify-content: flex-end;
}
.logo{
    font-size: larger;
    font-weight: bold;
    
}
nav{
    background-color: rgb(209, 129, 24);
    margin-bottom:0px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a:hover{
    color: whitesmoke;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    margin: 0px 8px;
 
}
.container{
    margin: 0px;
}
.line-menu{
   height: 3px;
   width: 20px;
   background-color: darkslateblue;
   margin: 2px;
   border-radius: 2px;
}
.menu{
    cursor: pointer;
    display: none;
}
@media  all and (max-width:520px){
    nav{
        flex-direction: column;
    }
    nav li{
        justify-content: center;
        display: block;
        padding: 4px 0px;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{

        align-self: flex-start;
        justify-self: center;
        margin: 20px 0px 0px 2px;
    }
    .menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .showmenu{
        display: block;
    }
}