body{
    background-color: antiquewhite;
}
#area{
    width: fit-content;
    justify-self: center;
    position: relative;
    top: 180px;
    padding: 40px;
background-color: rgb(116, 110, 110);
border-radius: 30px;
}
h2{
    color: rgb(247, 211, 165);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}
#textbox{
    padding: 10px;
}
#button{
    margin: 20px;
    padding: 20px;
}
#result{
    margin: 10px;
    color: white;
    justify-content: center;
    font-size: x-large;
}
