body{
    background-color: antiquewhite;

}
#box{
    background-color: rgb(147, 146, 146);
    padding: 30px;
    justify-self: center;
    position: relative;
    top: 180px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#result{
    font-size: larger;
    color: white;
    position: relative;
    top: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    left: 30px;
    font-weight: bold;
}
button{
    position: relative;
    top: 20px;
    left: 60px;
    background-color:antiquewhite;
}