body{
    background-color: antiquewhite;
}
#output{
    position: relative;
    left: 125px;
    bottom: 50px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(123, 122, 122);
}
#container{
    position: relative;
    top: 30vh;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    background-color: rgba(194, 188, 188, 0.614);
    padding: 30px;
}
select{
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    padding: 4px;
}
input{
    margin: 10px;
    position: relative;
    width: 100px;
    height: 20px;
    border: 1px solid rgb(123, 122, 122);
     padding: 4px;
    border-radius: 10px;
}
button{
    position: relative;
    margin-top: 9px;
    padding: 10px;
    left: 80px;
    border-radius: 10px;
    width: 80px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 88, 88);
    border: 1px solid rgb(123, 122, 122);
    background-color: rgb(174, 232, 243);
}